################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Screenshots
/.vs
/CalculatorTests/bin/Debug/net8.0
/CalculatorTests/obj
/CalculatorTests/bin/Debug/net7.0
/CalculatorTests/Screenshots
/.gitignore
/CalculatorTests/Helpers/Report/ConnectionAuth.str
/CalculatorTests/Helpers/Report/InputData Example Calls.cs
/CalculatorTests/Helpers/Report/appsettings.json
/Dataset
