################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Screenshots
/.vs
/CalculatorTests/bin/Debug/net8.0
/CalculatorTests/obj
